@font-face {
  font-family: Arial;
  src: local('Arial'), url('/arial.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Arial;
  src: local('Arial'), url('/arialitalic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: Arial;
  src: local('Arial'), url('/arialbold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0 19px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: none;
  text-rendering: optimizeSpeed;
}

.h1 {
  font-size: 140px;
  line-height: 140px;
  margin-left: -8px;
}

h2 {
  font-size: 36px;
  margin: 0.8em 0;
}

.p,
.p h1,
.p p,
ol,
p,
table,
ul {
  font-size: 23px;
  line-height: 26px;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

a {
  color: #00e;
}

a h3 {
  text-decoration: underline;
}

.skip {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body,
  html {
    background-color: #1e1e1e;
    color: #dedede;
  }
  a {
    color: #fff !important;
  }
  .h1,
  a,
  h2,
  h4 {
    color: #fff;
  }
}
